body
{
    margin: 0%;
}
#header{
    background-color: #fff;
    position: sticky;
    top: 17px;
}
#navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1%;
    border: 1px solid #e5f0da;
}
#navbar>div:nth-child(1)>img
{
   width: 50px;
}
#navbar>div:nth-child(3) img
{
   width: 15px;
}
#nav1
{
    width: 15%;
}
#nav2
{
    width: 70%;
    text-align: center;
    margin: auto;
}
#nav3
{
    width: 10%;
    margin: auto;
    text-align: center;
}
#navbar>div:nth-child(3)>span
{
    
    background-color: black;
    color: white;
    font-size: 7px;
    text-align: center;
    border-radius: 60px;
    position: relative;
    right: 17%;
    padding: 2.5px;
}
#navbar a
{
    text-decoration: none;
    color: #475d4b;
    font-size: 11px;
    line-height: 17px;
     text-transform: uppercase;
     letter-spacing: 1.5px;
     position: relative;
     margin: 0% 2px;
}

#top_bar
{
    text-align: center;
    font-size: 10px;
    background-color: #e5f0da;
    padding: 3px 0px;
    position: sticky;
    top: 0;
}

/* large screen */
@media all and (min-width: 901px) and (max-width: 1100px) {
    #nav1
{
    width: 15%;
}
#nav2
{
    width: 40%;
}
#nav3
{
    width: 15%;
}
  }
  /* medium screen */
@media all and (min-width: 701px) and (max-width: 900px) {
    #nav1
{
    width: 15%;
}
#nav2
{
    width: 30%;
}
#nav3
{
    width: 15%;
}
  }
  /* Small screens */
  @media all and (min-width: 500px) and (max-width: 700px) {
    #nav1
{
    width: 15%;
}
#nav2
{
    width: 50%;
}
#nav3
{
    width: 20%;
}
  }