body
{
    margin: 0%;
}
#nav1
{
    width: 15%;
}
#nav2
{
    width: 70%;
    text-align: center;
}

#navbar
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 1%;
    border: 1px solid #e5f0da;
    position:relative;
    z-index: 2;
  
}
#navbar>div:nth-child(1)>img
{
   width: 70px;
}
#navbar>div:nth-child(3) img
{
   width: 25px;
}

#navbar>div:nth-child(3)>span
{
    
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    border-radius: 80px;
    position: relative;
    right: 15%;
    padding: 3.5px;

}
#navbar a
{
    text-decoration: none;
    color: #475d4b;
    font-size: 14px;
    line-height: 15px;
     text-transform: uppercase;
     letter-spacing: 1.5px;
     position: relative;
     margin: 0% 2px;
}



#top_bar
{
    text-align: center;
    font-size: 12px;
    background-color: #e5f0da;
    padding: 2px 0px;
}

/* large screen */
@media all and (min-width: 901px) and (max-width: 1100px) {
    #nav1
{
    width: 15%;
}
#nav2
{
    width: 50%;
}

  }
  /* medium screen */
@media all and (min-width: 701px) and (max-width: 900px) {
    #nav1
{
    width: 50%;
   
    
}
#nav2
{
    width: 0%;
    display: none;
}


#navbar>div:nth-child(3)>span
{
    
  
    right: 17%;
    height: 9px;
    
   

}
}
  
  /* Small screens */
  @media all and (min-width: 500px) and (max-width: 700px) {
    #nav1
{
    width: 50%;
   
}
#nav2
{
    width: 0%;
    display: none;
}

#navbar>div:nth-child(3)>span
{
    
    
    right: 17%;
    height: 9px;
    

}
  }