*{
    margin: 0;
    padding: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
#container, #main #div1{
    display: flex;
    align-items: center;
}
#filterdiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}
#filtering{
    padding: 5px;
    margin-left: 25px;
    border: none;
}
#sidebar{
    width: 20%;
}
#main{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 30px;
}
#main>div>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 380px;
}
#textdiv{
    padding: 5px;
}
#textdiv>*{
    margin-bottom: 5px;
}
#main>div img{
    width: 100%;
}
#title1{
    font-size: 15px;
    font-weight: 600;
}
#title2{
    font-size: 12px;
}
#line3{
    display: flex;
    align-items: flex-end;
}
#titlediv{
    height: 50px;
    display: flex;
    align-items: flex-start;
}
#main #line3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
/* #main button{
    background-color: #475d4b;
    color: white;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
} */
#main button{
    display: block;
    width: 100%;
    padding: 8px 0px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    background-color: #495b4b;
    color: #e4f0db;
    
}
#main button:hover{
    background-color: #E5F0DA;
}



/* whatsApp */
a#whatsapp-message {
    display: flex;
    position: fixed;
    right: 1.5rem;
    bottom: 30px;
    z-index: 5;
    background: #fff;
    border-radius: 50%;
    padding: 0.3rem;
    box-shadow: 0 0 10px -4px;
}
a#whatsapp-message * {
    line-height: 40px;
}
a#whatsapp-message img {
    width: 50px;
    height: 50px;
    display: block;
}
a#whatsapp-message span {
    display: none;
    padding: 0 0.4rem;
    line-height: 41px;
}